[Desktop Entry]
Type=Application
Version=1.0
Name=Chama Mobile
Comment=Automated group credit and savings service
Exec=AppRun
Icon=stawi
Terminal=false
Categories=Network;Chat;InstantMessaging;X-Matrix;